ANALYTICS_BOT_TOKEN=tu_token_de_telegram_aqui
DIRECTOR_CHAT_ID=tu_chat_id_de_telegram_aqui
SUPABASE_PROJECT_URL=https://ydggwvpndcazmyvsdbec.supabase.co
SUPABASE_SECRET_KEY=tu_supabase_secret_key_aqui
